body{
    width: 960px;
    background-color: #d2691e;
    margin: auto;
}
h1{
    text-decoration: dotted,2px,#a52a2a;
}
.hasab {
    max-width: 450px;
    margin-right: 20px;
    float: left;
}
h2{
    width: 96%;
    background-color: #cd853f;
    font-style: italic;
}  
p{
    text-align: justify;
}
footer {
    text-align: left;

}
img{
    width: 100px;
    border: 2px solid #a52a2a;
    float: left;
}
li{
    display: inline;
    padding: 6px;
    min-width: 50px;
    border-right: 2px solid white;
    color: white;
}